body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer, .hero {
    background-color: #1f2937;
}

.header {
display: flex;
justify-content: space-between;
padding: 16px 100px;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 32px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.placeholder-image {
}

.hero-secondary-text, .header-links, .footer, .CTA-information {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

.hero-button, .CTA {
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 4px 16px;
    text-align: center;
    width: fit-content;
    margin: 32px;
}

.information-container{
display: flex;
flex-direction: column;
padding: 32px;
}

.info-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.information-header {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    margin-bottom: 32px;
}

.info-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

.box-1 {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author, .CTA-header {
    font-weight: bold;
    font-size: 20px;
}

.quote-author {
    text-align: right;
}

.CTA-header {
    text-align: left;
}
.CTA-bar {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 30px 100px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin: 100px;
    align-items: center;
}

.CTA {
    border: 2px solid white;
}
.CTA-header {
    color: white;
}